In [1]:
# Dependencies
import pandas as pd
import numpy as np

# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [2]:
engine = create_engine("sqlite:///hawaii.sqlite")

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [3]:
# Create our session (link) from Python to the DB
session = Session(engine)

## D1: Determine the Summary Statistics for June

In [4]:
# Get the name of the table. 
from sqlalchemy import inspect

inspector = inspect(engine)
inspector.get_table_names()

['measurement', 'station']

In [5]:
# Using the inspector to print the column names within the 'Census_Data' table and its types
columns = inspector.get_columns('measurement')
for column in columns:
    print(column)

{'name': 'id', 'type': INTEGER(), 'nullable': False, 'default': None, 'autoincrement': 'auto', 'primary_key': 1}
{'name': 'station', 'type': TEXT(), 'nullable': True, 'default': None, 'autoincrement': 'auto', 'primary_key': 0}
{'name': 'date', 'type': TEXT(), 'nullable': True, 'default': None, 'autoincrement': 'auto', 'primary_key': 0}
{'name': 'prcp', 'type': FLOAT(), 'nullable': True, 'default': None, 'autoincrement': 'auto', 'primary_key': 0}
{'name': 'tobs', 'type': FLOAT(), 'nullable': True, 'default': None, 'autoincrement': 'auto', 'primary_key': 0}

In [6]:
# Import the sqlalchemy extract function.
from sqlalchemy import extract

# 1. Write a query that filters the Measurement table to retrieve the temperatures for the month of June. 
results = session.query(Measurement.date, Measurement.tobs).filter(extract('month', Measurement.date)==6).all()
results[:5]

[('2010-06-01', 78.0),
 ('2010-06-02', 76.0),
 ('2010-06-03', 78.0),
 ('2010-06-04', 76.0),
 ('2010-06-05', 77.0)]

In [7]:
# 2. Convert the June temperatures to a list.
dateJune = []
tempJune = []

for date,temp in results:
    dateJune.append(date)
    tempJune.append(temp)

tempJune[:5]

[78.0, 76.0, 78.0, 76.0, 77.0]

In [8]:
# 3. Create a DataFrame from the list of temperatures for the month of June. 
df1 = pd.DataFrame(tempJune, columns = ['June Temps'])
df1.head()

   June Temps
0        78.0
1        76.0
2        78.0
3        76.0
4        77.0

In [9]:
# 4. Calculate and print out the summary statistics for the June temperature DataFrame.
df1.describe()

        June Temps
count  1700.000000
mean     74.944118
std       3.257417
min      64.000000
25%      73.000000
50%      75.000000
75%      77.000000
max      85.000000

In [10]:
# 3a. Create a DataFrame from the list of temperatures for the month of June. 
df2 = pd.DataFrame(list(zip(dateJune, tempJune)),
                 columns = ['June Dates','June Temps'])
# df2.head()

In [11]:
# 4a. Calculate and print out the summary statistics for the June temperature DataFrame.
# This also works
df2.describe()

        June Temps
count  1700.000000
mean     74.944118
std       3.257417
min      64.000000
25%      73.000000
50%      75.000000
75%      77.000000
max      85.000000

In [12]:
# 5. Return to your challenge instructions to compare your summary statistics

## D2: Determine the Summary Statistics for December

In [13]:
# 6. Write a query that filters the Measurement table to retrieve the temperatures for the month of December.
results = session.query(Measurement.date, Measurement.tobs).filter(extract('month', Measurement.date)==12).all()
results[-5:]

[('2016-12-27', 71.0),
 ('2016-12-28', 71.0),
 ('2016-12-29', 69.0),
 ('2016-12-30', 65.0),
 ('2016-12-31', 65.0)]

In [14]:
# 7. Convert the December temperatures to a list.
tempDec = []

for _,temp in results:
    tempDec.append(temp)

tempDec[:5]

[76.0, 74.0, 74.0, 64.0, 64.0]

In [15]:
# 8. Create a DataFrame from the list of temperatures for the month of December. 
df = pd.DataFrame(tempDec, columns = ['December Temps'])
df.head()

   December Temps
0            76.0
1            74.0
2            74.0
3            64.0
4            64.0

In [16]:
# 9. Calculate and print out the summary statistics for the Decemeber temperature DataFrame.
df.describe()

       December Temps
count     1517.000000
mean        71.041529
std          3.745920
min         56.000000
25%         69.000000
50%         71.000000
75%         74.000000
max         83.000000

In [17]:
# 10. Return to your challenge instructions to compare your summary statistics